/* ==================== Hero ==================== */
.hero {
  min-height: 432px;
  padding: 112px 0;
  text-align: center;
  background-color: $navy-blue;
  background: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url('../../../images/bg-mobile/mobile-hero-bg.jpg') no-repeat center/cover;
  @include min-device-pixel(2, 192dpi, 2dppx) {
    & {
      background: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url('../../../images/bg-mobile/mobile-hero-bg@2x.jpg') no-repeat
          center/cover;
    }
  }
  @include min-device-pixel(3, 288dpi, 3dppx) {
    & {
      background: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url('../../../images/bg-mobile/mobile-hero-bg@3x.jpg') no-repeat
          center/cover;
    }
  }
}
.hero-titel {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.11;
  margin-bottom: 72px;
  color: $white-color;
  @include breakpoint(mob) {
    font-size: 36px;
  }
}
.hero-btn {
  @extend %basic-btn;
  background-color: $iris;
  color: $white-color;
  padding: 16px 32px;
  margin: 0 auto;
  box-shadow: 0px 4px 4px 0px #00000026;
  transition: background $time $time-distribution;
  &:focus,
  &:hover {
    background-color: $ocean;
  }
}
/* ==================== Why we? ==================== */
.why-we {
  padding: 96px 0;
}
.why-we-titel {
  @extend %visually-hidden;
}
.why-we-items {
  @extend %list-style;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  row-gap: 60px;
  @include breakpoint (mob) {
    grid-template-columns: 396px;
    row-gap: 72px;
  }

}
.why-we-item {
  h3 {
  color: $navy-blue;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.11;
  margin-bottom: 8px;
  text-align: center;
  @include breakpoint (mob) {
    font-size: 36px;
    }
  }
  p{
    font-weight: 500;
  }
}
.why-we-img{
  display: none;
}
/* ==================== What are we doing ==================== */
.what-are-we-doing{
  display: none;
}
/* ==================== Our Team ==================== */
.our-team{
  background: $cloud;
  padding: 96px 0;
  text-align: center;
  ul{
    @extend %list-style;
  }
}
.our-team-titel {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.11;
  color: $navy-blue;
  margin-bottom: 60px;
  @include breakpoint (mob) {
    font-size: 36px;
    margin-bottom: 72px;
  }
}
.our-team-items {
  display: grid;
  grid-template-columns: 264px;
  justify-content: center;
  row-gap: 60px;
  @include breakpoint (mob) {
    row-gap: 72px;
  }
}
.our-team-item {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 2px 1px 0px #2e2f4214, 0px 1px 1px 0px #2e2f4229,
    0px 1px 6px 0px #2e2f4214;
}
.our-team-box {
  padding: 32px 16px;
  background: $white-color;
}
.our-team-name {
  color: $navy-blue;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 8px;
}
.our-team-speciality {
  margin-bottom: 8px;
}
.our-team-items-links {
  display: flex;
  justify-content: space-between;
}
.our-team-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: $iris;
  border-radius: 50%;
  transition: background $time $time-distribution;
  &:hover,
  &:focus {
  background: $ocean;
}
  svg{
    width: 24px;
    height: 24px;
  }
}
/* ==================== Customers ==================== */
.customers {
  padding: 96px 0;
  text-align: center;
  ul {
    @extend %list-style;
  }
}
.customers-titel {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.11;
  color: $navy-blue;
  text-align: center;
  margin-bottom: 60px;
  @include breakpoint (mob) {
    font-size: 36px;
    margin-bottom: 72px;
  }
}
.customers-items {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  column-gap: 16px;
  row-gap: 50px;
  @include breakpoint (mob) {
    grid-template-columns: 190px 190px;
    row-gap: 72px;
  }
}
.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 88px;
  border-radius: 5px;
  border: 1px solid $light-slate;
  transition: border $time $time-distribution;
  @include breakpoint (mob) {
    width: 100%;
  }
}
.customers-link:hover,
.customers-link:focus {
  border: 1px solid $ocean;
}
.customers-link > svg {
  fill: $light-slate;
  transition: fill $time $time-distribution;
  &:hover > svg,
  &:focus > svg {
  fill: $ocean;
}
}
.customers-one {
  width: 41px;
  height: 47px;
}
.customers-two {
  width: 40px;
  height: 52px;
}
.customers-three {
  width: 44px;
  height: 41px;
}
.customers-four {
  width: 84px;
  height: 80px;
}
.customers-five {
  width: 63px;
  height: 56px;
}
.customers-six {
  width: 94px;
  height: 88px;
}