.header {
  background-color: $white-color;
  border-bottom: 1px solid $cornflower;
}
.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}
.header-logo {
  @extend link;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-right: 76px;
  color: $iris;
  span {
    color: $navy-blue;
  }
}
.nav-btn {
  background-color: transparent;
  border: none;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  svg {
    width: 32px;
    height: 32px;
    stroke: $navy-blue;
  }
}
.nav-items {
  @extend %list-style;
  display: none;
}
.contacts-items {
  @extend %list-style;
  display: none;
}
.hamburger-menu {
  background-color: $white-color;
  background: violet;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform: translateY(0%);
  transition: transform $time $time-distribution,
    opacity $time $time-distribution, visibility $time $time-distribution;
  opacity: 1;
  visibility: visible;
}
.is-open {
  height: 0%;
  width: 0%;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transform: translateY(-100%);
}
.hamburger-btn {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 24px;
  margin-right: 24px;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $cornflower;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: background 250ms $time-distribution,
    border 250ms $time-distribution;
  svg {
    width: 8px;
    height: 8px;
  }
}
.hamburger-menu-list {
  @extend %list-style;
}
