/* ====================  backdrop  ==================== */
.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $grey;
  z-index: 10;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;

  transition: opacity $time $time-distribution,
    visibility $time $time-distribution;
  &.is-hidden {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    > .modal {
      transform: translate(-50%, -50%) scale(1);
    }
  }
}
.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 310px;
  height: 470px;
  padding: 55px 20px 20px;
  transform: translate(-50%, -50%) scale(1.5);
  background-color: $modal-background;
  border-radius: 4px;
  box-shadow: 0px 2px 1px 0px #00000033, 0px 1px 3px 0px #0000001f,
    0px 1px 1px 0px #00000024;
  transition: transform $time $time-distribution;
  @include breakpoint(mob) {
    width: 392px;
    height: 586px;
    padding: 72px 16px 24px;
  }
}

.modal-close-btn {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 24px;
  margin-right: 24px;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $cornflower;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: background $time $time-distribution,
    border $time $time-distribution;
  &:hover,
  &:focus {
    background-color: $ocean;
    border-color: $ocean;
  }
  & > svg {
    fill: #000;
    transition: fill $time $time-distribution;
  }
  &:hover > svg,
  &:focus > svg {
    fill: $white-color;
  }
}
.modal-form-fieldset {
  margin-bottom: 10px;
  border: none;
  @include breakpoint(mob) {
    margin-bottom: 16px;
  }
}
.modal-form-legend {
  color: $navy-blue;
  font-weight: 500;
  text-align: center;
  margin-bottom: 10px;
  @include breakpoint(mob) {
    margin-bottom: 36px;
  }
}
.modal-form-label {
  position: relative;
  display: block;
  margin-bottom: 16px;
  @include breakpoint(mob) {
    margin-bottom: 26px;
  }
  &.mb-none {
    margin-bottom: 8px;
  }
  & > input {
    width: 100%;
    padding: 11px 38px;
    font-size: 12px;
    letter-spacing: 0.04em;
    border: 1px solid #21212133;
    border-radius: 4px;
    outline: none;
    transition: border $time $time-distribution;
  }
  & > svg {
    position: absolute;
    left: 8%;
    top: 50%;
    transform: translate(-50%, -50%);
    fill: $navy-blue;
    transition: fill $time $time-distribution;
  }
  & > span {
    position: absolute;
    left: 20%;
    top: 50%;
    font-size: 12px;
    letter-spacing: 0.01em;
    color: $light-slate;
    transform: translate(-50%, -50%);
    transition: transform $time $time-distribution;
    @include breakpoint(mob) {
      left: 17%;
    }
  }
  & > input:focus {
    border: 1px solid $iris;
  }
  & > input:focus + span,
  & > input:not(:placeholder-shown) + span {
    transform: translate(-165%, -200%);
  }
  & > input:focus + .modal-form-label-phone {
    transform: translate(-155%, -200%);
  }
  & > input:focus + .modal-form-label-email {
    transform: translate(-175%, -200%);
  }
  & > input:focus ~ svg {
    fill: $iris;
  }
}
.modal-form-textarea {
  display: flex;
  flex-direction: column;
  & > span {
    font-size: 12px;
    letter-spacing: 0.01em;
    color: $light-slate;
  }
  & > textarea {
    resize: none;
    width: 100%;
    height: 50px;
    padding: 8px 16px;
    font-size: 12px;
    letter-spacing: 0.04em;
    border: 1px solid #21212133;
    border-radius: 4px;
    outline: none;
    transition: border $time $time-distribution;
    @include breakpoint(mob) {
      height: 120px;
    }
  }
  & > textarea::placeholder {
    color: #75757580;
  }
  & > textarea:focus {
    border-color: $iris;
  }
}
.modal-form-checkbox {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
  font-size: 12px;
  letter-spacing: 0.04em;
  @include breakpoint(mob) {
    margin-bottom: 24px;
  }
  & > input {
    @extend %visually-hidden;
  }
  & > span {
    display: flex;
    align-items: center;
  }
  & > span::before {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    border: 1px solid $navy-blue;
    border-radius: 2px;
    cursor: pointer;
    transition: background $time $time-distribution,
      border $time $time-distribution;
  }
  & > svg {
    position: absolute;
    left: 7px;
    top: 5px;
    width: 10px;
    height: 8px;
    fill: $white-color;
    cursor: pointer;
    @include breakpoint(mob) {
      left: 11px;
    }
  }
  & > input:checked + span::before,
  & > input:checked + svg {
    background-color: $ocean;
    border-color: $ocean;
    fill: $cloud;
  }
  & a {
    display: inline;
    color: $iris;
    transition: color $time $time-distribution;
  }
  & a:hover,
  & a:focus {
    color: $ocean;
  }
}
.modal-form-btn {
  @extend %basic-btn;
  display: block;
  margin: 0 auto;
  padding: 16px 65px;
  background-color: $iris;
  color: $white-color;
  box-shadow: 0px 4px 4px 0px #00000026;
  transition: background $time $time-distribution;
  &:hover,
  &:focus {
    background-color: $ocean;
  }
}
